@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Mật khẩu của bạn đã thay đổi. Vui lòng nhấn <a asp-page="./Login">đăng nhập</a>.
</p>
